:root {
  --bg-dark: #0e2430;
  --tomato: #fc3a51;
  --yellow: #f5b349;
  --crem: #e8d5b7
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

header {
  height: 70px;
  width: 100%;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header h2 {
  color: var(--tomato);

}

header .maps-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 36px;
  padding: 0 2rem;
  gap: .5rem;
  background-color: var(--tomato);
  border: none;
  color: var(--bg-dark);
  cursor: pointer;
  font-weight: bold;
}


header .buttons {
  display: flex;
  gap: 1rem;
}

main {
  position: relative;
  display: flex;

}

#map {
  width: 100%;
  height: calc(100vh - 70px);
}

aside {
  padding: 2rem 1rem;

  border-radius: 10px;

  opacity: 0;
  position: absolute;
  top: 5%;
  right: -400;
  height: 90%;
  width: 0;
  background-color: var(--bg-dark);

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  overflow-y: auto;

  transition: .3s ease;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

aside.active {
  opacity: 1;
  right: 20px;
  width: 300px;
}

aside h2 {
  color: var(--tomato);
  text-align: center;
}

aside ul {
  list-style-type: none;
  display: grid;
  gap: 1rem;

  justify-content: stretch;
  align-items: flex-start;


}



aside ul li {
  font-size: 1.3rem;
  padding: .5rem .6rem;
  border: 1px solid var(--tomato);
  text-align: center;



  color: var(--tomato);

  cursor: pointer;

  transition: .3s ease-in;
}

aside ul li:hover {
  background-color: var(--tomato);
  color: var(--bg-dark);
}

.save-modal {
  display: none;
  position: fixed;
  width: 40%;
  height: auto;
  background-color: var(--bg-dark);
  bottom: 2px;
  left: 30%;
  margin: 0 auto;
  padding: 1rem 1rem;
}


.save-modal.active {
  display: block;
}

.save-modal input {
  width: 100%;
  height: 30px;
  background-color: white;
  color: var(--tomato);
  outline: none;
  border: none;
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
}

.save-modal .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.save-modal .buttons button {
  width: 80px;
  height: 30px;
  outline: none;
  border: none;


}

button{
  transition: .3s ease-in;
}

button:hover{
  transform: scale(1.05);
}

button.success {
  background-color: var(--tomato);
  color: var(--bg-dark);
  cursor: pointer;
  transition: .3s ease-in;
}

button.cancel {
  background-color: var(--yellow);
  color: var(--bg-dark);
  cursor: pointer;
 
}

